@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: rgb(16, 16, 16);
  overscroll-behavior: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hero {
  background-image: url("/hero-search-image-2.jpg");
  background-size: cover;
  background-position: top;
}

.hero-text {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.scrollbar-hide {
  /* Hide scrollbar */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.scroll-snap-x {
  scroll-snap-type: x mandatory; /* Enable horizontal scroll snapping */
}

.scroll-snap-align-start {
  scroll-snap-align: start; /* Each child snaps to the start */
}

